:host {
  position: relative;
  display: flex;
  flex-direction: row;

  max-height: 300px;

  border: 1px solid black;
  background-color: white;

  margin: 1rem;
  padding: 1rem;

  .label {
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    background-color: inherit;
  }

  .close-button {
    appearance: none;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  .left-panel {
    flex: 0 0 auto;
    max-width: 50%;
    min-width: 30%;
  }

  .right-panel {
    flex: 1;
    align-self: center;
    text-align: right;

    .image {
      min-width: 100px;
      max-width: 150px;
      width: 100%;
    }
  }
}
