<ng-container *ngIf="condition">
  <span class="label">{{ condition.place }}</span>
  <button (click)="onCloseButtonClicked()" class="close-button">X</button>

  <div class="left-panel">
    <p class="current-condition">
      Current condition: {{ condition.current }}
    </p>

    <p class="temperature">
      Temperature: {{ condition.temperature }}
    </p>

    <p class="min-max-temperature">
      Max today: {{ condition.maxTemperature }} - Min today: {{ condition.minTemperature }}
    </p>
  </div>
  <div class="right-panel">
    <img class="image" [src]="getImage(condition)" [alt]="condition.current">
  </div>
</ng-container>
