:host {
  position: relative;
  display: flex;
  flex-direction: row;

  max-height: 300px;

  border: 1px solid black;
  background-color: white;

  margin: 1rem;
  padding: 1rem;

  .label {
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    background-color: inherit;
  }

  .close-button {
    appearance: none;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    height: 1.5rem;
  }

  .left-panel {
    flex: auto;
  }

  .right-panel {
    flex: 1;
  }
}
