:host {
  .loading {
    display: none;
    text-align: center;
  }

  .is-loading {
    display: contents;
    .loading {
      display: block;
    }

    .weather-condition {
      display: none;
    }
  }
}
