<form
  class="form"
  [formGroup]="formGroup"
  (ngSubmit)="onFormSubmit()"
>
  <span class="label">Add a location</span>

  <div class="zip-code">
    <label
      for="zip-code-input"
      class="zip-code-label"
    >Enter a zipcode:</label>
    <br>
    <input
      formControlName="zipCode"
      name="zip-code-input"
      class="zip-code-input"
      type="text"
    >
    <button
      [disabled]="isAddButtonDisabled$ | async"
      class="add-button"
    >Add location</button>

    <div
      class="validation-label"
      *ngIf="isFormInvalid$ | async"
    >
      Provide a valid zip code
    </div>
  </div>
</form>
