<form
  class="form"
  [formGroup]="formGroup"
  (ngSubmit)="onFormSubmit()"
>
  <span class="label">Add a location</span>

  <div class="zip-code">
    <label
      for="zip-code-input"
      class="zip-code-label"
    >Enter a zipcode:</label>
    <br>
    <input
      formControlName="zipCode"
      name="zip-code-input"
      class="zip-code-input"
      type="text"
    >
  </div>
  <div class="buttons">
    <button [disabled]="disabled$ | async" class="add-button">Add location</button>
  </div>
</form>
