<app-add-location></app-add-location>

<div>
  <div class="loading" *ngIf="isLoading$ | async">Loading...</div>
  <div class="error" *ngIf="hasError$ | async">Server error</div>
  <ng-container *ngIf="conditions$ | async as conditions">
    <a
      *ngFor="let condition of conditions; trackBy trackByCondition"
      [routerLink]="'forecast/' + condition.zipCode"
      class="link-wrapper"
    >
      <app-weather-conditions
        [condition]="condition"
        (remove)="removeLocation(condition.zipCode)"
        class="weather-condition"
      >
      </app-weather-conditions>
    </a>
  </ng-container>
</div>
